@using Sandbox
@using Sandbox.UI
@using Misk.Presentation
@namespace Misk.UI
@inherits Panel

<root class="overlay-screen">
	<div class="overlay-card confirm-card">
		<div class="overlay-title">@UiNav.ConfirmTitle</div>
		<div class="confirm-body">@UiNav.ConfirmBody</div>
		<div class="confirm-actions">
			<div class="overlay-button" onclick=@(() => { MiskAudio.Click(); UiNav.CancelConfirm(); })>Cancel</div>
			<div class="overlay-button danger" onclick=@(() => { MiskAudio.Click(); UiNav.AcceptConfirm(); })>@UiNav.ConfirmVerb</div>
		</div>
	</div>
</root>

@code {
	protected override int BuildHash() => System.HashCode.Combine( UiNav.Overlay, UiNav.ConfirmTitle );
}
